https://medium.com/@nikitasilaparasetty/python-interview-coding-questions-with-solutions-for-beginners-7f6d782defac

In [2]:
#anagram program
#An anagram is a word or phrase formed by rearranging the letters of a different
# word or phrase. For example, "cinema" is an anagram of "iceman".
def is_anagram(str1, str2):
  str1 = str1.lower()
  str2 = str2.lower()
  return sorted(str1) == sorted(str2)

string1 = "listen"
string2 = "silent"

if is_anagram(string1, string2):
  print("The strings are anagrams.")
else:
  print("The strings are not anagrams.")

The strings are anagrams.

In [3]:
def is_anagram(str1, str2):
  str1 = str1.lower()
  str2 = str2.lower()
  if len(str1) != len(str2):
    return False

  char_count = {}
  for char in str1:
    char_count[char] = char_count.get(char, 0) + 1
  for char in str2:
    if char not in char_count or char_count[char] == 0:
      return False
    char_count[char] -= 1
  return True

# Get input from the user
string1 = input("Enter the first string: ")
string2 = input("Enter the second string: ")

if is_anagram(string1, string2):
  print("The strings are anagrams.")
else:
  print("The strings are not anagrams.")

Enter the first string: man
Enter the second string: nam
The strings are anagrams.

In [ ]:
#string is a palindrome
def is_palindrome(string):
    reversed_string = string[::-1]
    return string == reversed_string

# Test the function
word = "madam"
if is_palindrome(word):
    print(f"{word} is a palindrome")
else:
    print(f"{word} is not a palindrome")

In [8]:
#number is palindrome or not?
def is_palindrome(number):
  num_str = str(number)
  return num_str == num_str[::-1]
number = int(input("Enter a number: "))
if is_palindrome(number):
  print("The number is a palindrome.")
else:
  print("The number is not a palindrome.")

Enter a number: 121
The number is a palindrome.

In [9]:
#factorial of number
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)

# Test the function
number = 5
result = factorial(number)
print(f"The factorial of {number} is {result}")

The factorial of 5 is 120

In [10]:
#factorial without regression
def factorial(n):
    result = 1
    for i in range(1, n+1):
        result *= i
    return result

# Test the function
number = 5
result = factorial(number)
print(f"The factorial of {number} is {result}")

The factorial of 5 is 120

In [11]:
#find the largest element in a list
def find_largest(numbers):
    largest = numbers[0]
    for num in numbers:
        if num > largest:
            largest = num
    return largest

# Test the function
nums = [10, 5, 8, 20, 3]
largest_num = find_largest(nums)
print(f"The largest number is {largest_num}")

The largest number is 20

In [12]:
# Python program to count the frequency of each element in a list.
def count_frequency(numbers):
    frequency = {}
    for num in numbers:
        if num in frequency:
            frequency[num] += 1
        else:
            frequency[num] = 1
    return frequency

# Test the function
nums = [1, 2, 3, 2, 1, 3, 2, 4, 5, 4]
frequency_count = count_frequency(nums)
print(frequency_count)

{1: 2, 2: 3, 3: 2, 4: 2, 5: 1}

In [13]:
#check if a number is prime.
def is_prime(number):
    if number < 2:
        return False
    for i in range(2, int(number**0.5) + 1):
        if number % i == 0:
            return False
    return True

# Test the function
num = 17
if is_prime(num):
    print(f"{num} is a prime number")
else:
    print(f"{num} is not a prime number")

17 is a prime number

In [14]:
#remove duplicates from a list
def remove_duplicates(numbers):
    unique_numbers = []
    for num in numbers:
        if num not in unique_numbers:
            unique_numbers.append(num)
    return unique_numbers

# Test the function
nums = [1, 2, 3, 2, 1, 3, 2, 4, 5, 4]
unique_nums = remove_duplicates(nums)
print(unique_nums)

[1, 2, 3, 4, 5]

In [15]:
#check if a number is even or odd.
def is_even(number):
  return number % 2 == 0
number = 10
if is_even(number):
  print(f"{number} is even.")
else:
  print(f"{number} is odd.")

10 is even.

In [18]:
#Write a Python program to find the sum and average of elements in a list.
numbers = [1, 2, 3, 4, 5]
total_sum = sum(numbers)
average = total_sum / len(numbers)
print(f"Sum: {total_sum}")
print(f"Average: {average:.1f}")  # Format average to two decimal places

Sum: 15
Average: 3.0

In [21]:
#check if a character is a vowel or consonant.
def is_vowel(char):
  vowels = "aeiouAEIOU"
  return char in vowels
character = input("Enter a character: ")
if is_vowel(character):
  print(f"{character} is a vowel.")
else:
  print(f"{character} is a consonant.")

Enter a character: t
t is a consonant.

In [22]:
#Find the minimum and maximum elements in a list:
numbers = [1, 5, 2, 8, 3]
min_number = min(numbers)
max_number = max(numbers)
print(f"Minimum: {min_number}")

print(f"Maximum: {max_number}")

Minimum: 1
Maximum: 8

In [23]:
#convert date which in string format to binary
date="16-04-2002"
day,month,year=date.split('-')
day=format(int(day),'b')
month=format(int(month),'b')
year=format(int(year),'b')
binary_date = f"{day}-{month}-{year}"
print(binary_date)

10000-100-11111010010

In [24]:
#convert date which in string format to hexadecimal
date="16-04-2002"
day,month,year=date.split('-')
day=format(int(day),'x')
month=format(int(month),'x')
year=format(int(year),'x')
binary_date = f"{day}-{month}-{year}"
print(binary_date)

10-4-7d2